{% extends 'main/base.html' %}

{% block title %}
Enter a new Museum
{% endblock %}

{% block content %}
    <h1>New Institution entry</h1>
    <br>


    <form method="post" action="/Institution_entry/" class="form-group">
        {% csrf_token %}
        <div class="input-group mb-3">

             {{form.as_p}}
            <div class="input-group-prepend">
            <button name="save" type="submit" class="btn btn-success">Create New</button>
            </div>


        </div>
    </form>


{% endblock %}
